body {
    background-color:#1F2937 ;
    color:#F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 80%;
    margin: auto;
    overflow: hidden;
    

}

/* make all containers flexboxes */
.container {
    display: flex;
}

.header {
    justify-content: space-between;
    margin-top: 24px;
}
.header-logo {
    font-size: 24px;
}

.hero-text {
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 25px;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
}

.hero-secondary, .header-link, .placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-figure{
    background-color: gray;
    flex:1;
    margin: 0;
}

.header-link{
    gap:25px;
}

#sign-up, #call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 10px, solid, #F9FAF8;
}